  <ion-content class="pm-rpe-popup" style="height: 255px;">
    <ion-title class="ion-text-center pm-rpep-title">
      <span class="pm-rpep-label"> Vehical Details : </span> <span class="pm-rpep-vd">{{selectedVehicle['vehicleBrand']+' '+selectedVehicle['vehicleModel'] + ' '+selectedVehicle['vehicleNumber']}}</span>
    </ion-title>
    <div class="pm-ac-c">
      <ion-item lines="none" class="pm-bg-header" style="padding: 0px;">
        <ion-label>{{'accountCreation.openDate' | translate}}</ion-label>
        <input type="datetime-local" [(ngModel)]="openDate">
      </ion-item>
    
      <ion-item lines="none">
        <ion-label>{{'accountCreation.selectRentPlan' | translate}}</ion-label>
        <ion-label *ngIf="selectedRentPlan" style="float: right;text-align: right;">{{selectedRentPlan['rentPlan']}}</ion-label>
        <ion-button (click)="openRentPlanList()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-label>{{'rentPlanEntry.rentAmount' | translate}}</ion-label>
        <ion-label *ngIf="selectedRentPlan" style="float: right;text-align: right;">{{selectedRentPlan['rentAmount']}}</ion-label>
      </ion-item>

      <ion-row class="pm-tmar">
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" (click)="saveAction()">{{'save' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </div>
  <p-toast key="accCreation" position="center"></p-toast>

</ion-content>

