<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <div >
      <button mat-icon-button="" title="Back" (click)="backButtonOnclick()">
        <ion-icon style="font-size: 30px;padding: 10px;" name="people"></ion-icon>

      </button>
    </div>
    <ion-title size="large" class="ion-text-center">
      Vehicle Search
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- 
<ion-header no-border="">
  <ion-toolbar >
      <ion-title size="large" class="ion-text-center">
        Sign Up
      </ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-header >
  <ion-toolbar >
      <ion-title size="large" class="ion-text-center">
        {{'accountCreation.title' | translate}}
      </ion-title>
       <ion-buttons slot="end">
          <button ion-button slot="end"> <h4>{{'save' | translate}}</h4>
          </button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>  -->


<ion-content style="height: 400px;">
  <ion-title size="large" class="ion-text-center">
    {{selectedVehicle['vehicleBrand']+' '+selectedVehicle['vehicleModel'] + ' '+selectedVehicle['vehicleNumber']}}
  </ion-title>

  <!-- <form > -->
    <ion-item lines="full">
      <ion-label>{{'accountCreation.openDate' | translate}}</ion-label>
      <input type="datetime-local" [(ngModel)]="openDate" style="background-color:lightgray;">
    </ion-item>
   
    <ion-item lines="full">
      <ion-label>{{'accountCreation.selectRentPlan' | translate}}</ion-label>
      <ion-label *ngIf="selectedRentPlan" style="float: right;text-align: right;">{{selectedRentPlan['rentPlan']}}</ion-label>
      <ion-button (click)="openRentPlanList()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-item>
     <ion-item lines="full">
      <ion-label>{{'rentPlanEntry.rentAmount' | translate}}</ion-label>
      <ion-label *ngIf="selectedRentPlan" style="float: right;text-align: right;">{{selectedRentPlan['rentAmount']}}</ion-label>
    </ion-item>

  

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="saveAction()">{{'save' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  <!-- </form> -->

  <p-toast key="accCreation" position="center"></p-toast>

</ion-content>

