<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">
      Parking management
    </ion-title>
    <ion-buttons slot="end">
      <ion-button slot="end" (click)="logoutAction()">
        <h2>
          <ion-icon style="font-size: 30px;color: black;" name="log-out"></ion-icon>
        </h2>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">


  <ion-grid style="padding-top: 50px;padding-bottom: 50px;">
    <ion-row style="padding: 30px">
      <ion-col style="padding: 30px">
        <div style="background-color:#fcfbf9;width:100%;text-align:center;padding:5px;margin:0 auto;border-radius: 10px;" (click)="openMenu('1')">
          <ion-icon style="font-size: 70px;padding: 10px;" name="car"></ion-icon>
          <h3 style="font-size:3vw;">Vehicle search</h3>
        </div>
      </ion-col>
      <ion-col style="padding: 30px">
        <div style="background-color:#fcfbf9;width:100%;text-align:center;padding:5px;margin:0 auto;border-radius: 10px;" (click)="openMenu('2')">
          <ion-icon style="font-size: 70px;padding: 10px;" name="person"></ion-icon>
          <h3 style="font-size:3vw;">Contact List</h3>
        </div>
      </ion-col>
      <ion-col style="padding: 30px">
        <div style="background-color:#fcfbf9;width:100%;text-align:center;padding:5px;margin:0 auto;border-radius: 10px;" (click)="openMenu('3')">
          <ion-icon style="font-size: 70px;padding: 10px;" name="reader"></ion-icon>
          <h3 style="font-size:3vw;">Rent Plan</h3>
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 30px">
      <ion-col style="padding: 30px">
        <div style="background-color:#fcfbf9;width:100%;text-align:center;padding:5px;margin:0 auto;border-radius: 10px;" (click)="openMenu('4')">
          <ion-icon style="font-size: 70px;padding: 10px;" name="person-circle"></ion-icon>
          <h3 style="font-size:3vw;">Application users</h3>
        </div>
      </ion-col>
      <ion-col style="padding: 30px">
        <div style="background-color:#fcfbf9;width:100%;text-align:center;padding:5px;margin:0 auto;border-radius: 10px;" (click)="openMenu('5')">
          <ion-icon style="font-size: 70px;padding: 10px;" name="create"></ion-icon>
          <h3 style="font-size:3vw;">IN & OUT Entry</h3>
        </div>
      </ion-col>
      <ion-col style="padding: 30px">
        <div style="background-color:#fcfbf9;width:100%;text-align:center;padding:5px;margin:0 auto;border-radius: 10px;" (click)="openMenu('6')">
          <ion-icon style="font-size: 70px;padding: 10px;" name="settings"></ion-icon>
          <h3 style="font-size:3vw;">Settings</h3>
        </div>
      </ion-col>
    </ion-row>



    <!-- <ion-row style="padding: 30px">
      <ion-col >
        <div style="background-color:#f8d406;width:60%;text-align:center;padding:5px;margin:0 auto;border-radius: 10px;" (click)="openMenu('4')">
          <ion-icon style="font-size: 70px;padding: 10px;" name="people"></ion-icon>
          <h3 style="font-size:3vw;">Application users</h3>
        </div>
      </ion-col>
      <ion-col >
        <div style="background-color:#f8d406;width:60%;text-align:center;padding:5px;margin:0 auto;border-radius: 10px;" (click)="openMenu('5')">
          <ion-icon style="font-size: 70px;padding: 10px;" name="people"></ion-icon>
          <h3 style="font-size:3vw;">IN & OUT Entry</h3>
        </div>
      </ion-col>
      <ion-col>
      <div style="background-color:#f8d406;width:60%;text-align:center;padding:5px;margin:0 auto;border-radius: 10px;" (click)="openMenu('6')">
        <ion-icon style="font-size: 70px;padding: 10px;" name="settings"></ion-icon>
        <h3 style="font-size:3vw;">Settings</h3>
      </div>
    </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>

<!-- 
<ion-content [fullscreen]="true">
  

  <ion-grid style="padding: 10px">
    <ion-row style="padding: 30px">
      <ion-col  class="container">
        <div>
          <div class="vertical-center">
            <p>I am vertically centered.</p>
          </div>
        </div>
      </ion-col>
      <ion-col style="padding: 30px">
        <div>2</div>
      </ion-col>
      <ion-col style="padding: 30px">
        <div>3</div>
      </ion-col>
    </ion-row>
    <ion-row style="padding: 30px">
      <ion-col style="padding: 30px">
        <div>4</div>
      </ion-col>
      <ion-col style="padding: 30px">
        <div>5</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
