<ion-header no-border="">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="backButtonOnclick()">
        <h2>
          <ion-icon style="font-size: 30px;color: black;" name="arrow-back"></ion-icon>
        </h2>
      </ion-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center">
      Vehicle Info
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
    <div style="background-color: white;">
      <ion-grid style="height: 100%;">
        <ion-row style="background-color: white;height: 33.3%;width: 100%; max-height: 200px;min-height: 180px;">
          <ion-col size="5.6" style="background-color:white;height: 99%;">
            <h2>Primary vehicle info</h2>
            <div>
              <div class="alignleft" style="text-align:center; width: 30%;">
                <ion-avatar style="margin: auto;">
                  <ion-icon name="car-sport-outline" style="font-size: 50px;"></ion-icon>
                </ion-avatar>
                <ion-label style="text-align: center;">
                  <h3>{{vehicle.vehicleInfo.vehicleColor}}</h3>
                </ion-label>
              </div>
              <div class="alignleft" style="width: 67%;">
                <ion-label>
                  <h2>{{vehicle.vehicleInfo.vehicleType}}</h2>
                  <h2>{{vehicle.vehicleInfo.vehicleBrand}} {{vehicle.vehicleInfo.vehicleModel}} </h2>
                  <h2><b>{{vehicle.vehicleInfo.vehicleNumber}}</b></h2>
                  <p>Added By : {{vehicle.vehicleInfo.addedBy}}</p>
                </ion-label>
              </div>
              <div class="vl alignright"></div>
            </div>

          </ion-col>
          <ion-col size="5.6" style="background-color:white;height: 99%;">
            <h2>Account info</h2>
            <div class="alignleft" style="width: 100%;padding-left: 10px;">
              <ion-label>
                <h2>Rent plan : {{vehicle.rentPlanInfo.rentPlan}}</h2>
                <h2>{{vehicle.rentPlanInfo.rentAmount}} Rs</h2>
                <p>Account open date :</p>
                <p>{{vehicle.accountInfo.openDate}}</p>
              </ion-label>
            </div>
          </ion-col>
          <ion-col size="0.8" style="background-color: white;">
            <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text"
              label="" (click)="menu.toggle($event)"></button>

            <p-menu #menu [popup]="true" appendTo="body" [model]="items"></p-menu>

          </ion-col>

          <div class="hl"></div>

        </ion-row>
        <ion-row style="background-color:white;height: 33.3%;max-height: 200px;min-height: 180px;">
          <ion-col size="5.6" style="background-color:white;height: 99%;">
            <h2>Alternate vehicle info</h2>
            <div>
              <div class="alignleft" style="text-align:center; width: 30%;">
                <ion-avatar style="margin: auto;">
                  <ion-icon name="car-sport-outline" style="font-size: 50px;"></ion-icon>
                </ion-avatar>
                <ion-label style="text-align: center;">
                  <h3>{{vehicle.vehicleInfo.vehicleColor}}</h3>
                </ion-label>
              </div>
              <div class="alignleft" style="width: 67%;">
                <ion-label>
                  <h2>{{vehicle.vehicleInfo.vehicleType}}</h2>
                  <h2>{{vehicle.vehicleInfo.vehicleBrand}} {{vehicle.vehicleInfo.vehicleModel}} </h2>
                  <h2><b>{{vehicle.vehicleInfo.vehicleNumber}}</b></h2>
                  <p>Added By : {{vehicle.vehicleInfo.addedBy}}</p>
                </ion-label>
              </div>
              <div class="vl alignright"></div>
            </div>
          </ion-col>
          <ion-col size="5.6" style="background-color:white;height: 99%;">
            <h2>Outstanding info</h2>
            <ion-label style="padding-left: 10px;">
              <h2>Total amount : {{vehicle.accountInfo.totalBillAmount}}</h2>
              <h2>Paid amount : {{vehicle.accountInfo.receivedAmount}}</h2>
              <h2><b>Pending amount : {{vehicle.accountInfo.totalBillAmount - vehicle.accountInfo.receivedAmount}} </b>
              </h2>
            </ion-label>
          </ion-col>
          <div class="hl"></div>
        </ion-row>
        <ion-row style="background-color:white;height: 33.3%;max-height: 200px;min-height: 180px;">
          <ion-row style="background-color:white;width: 100%;height: 30%;">
            <h2 style="padding-left: 4px;">Additional contact info</h2>
          </ion-row>
          <ion-row style="background-color:white;width: 100%;height: 70%;">
          <ion-col *ngFor="let contact of vehicle.additionalContacts" style="min-width: 25%;max-width: 25%;">
            <!-- <ion-row *ngFor="let contact of vehicle.additionalContacts; let i = index" style="padding: 0px;"> -->
              <div>
                <ion-label style="padding-left: 10px;">
                  <h2>{{contact.contactName}}</h2>
                  <h2>{{contact.contactMobile}}</h2>
                </ion-label>
              </div>
          </ion-col>
        </ion-row>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>