<ion-header class="pm-header" no-border="">
  <ion-toolbar class="pm-toolbar">
    <ion-buttons class="pm-clickaction" slot="start">
      <ion-button (click)="backButtonOnclick()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center pm-header-title">
      {{'vehicleSearch.vehicleInfo' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="pm-content">

  <div class="pm-container">
    <div>
      <button class="pm-v-option-select" type="button" (click)="menu.toggle($event);menuClick(vehicle);$event.stopPropagation();">
        <strong>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </strong>
        <span>Options</span>
      </button>
      <p-menu #menu [popup]="true" appendTo="body" [model]="items"></p-menu>
    </div>
    <ion-grid class="pm-ion-grid">
      <ion-row class="pm-ion-row">

        <ion-col class="pm-ion-col" class="pm-ion-col" size="5.8">
          <div class="pm-col-seg pm-rm-15">
            <h2>{{'contactListWithVehicle.primaryVehicleInfo' | translate}}</h2>
            <div>
              <div class="pm-alignleft">
                <ion-avatar>
                  <ion-icon name="car-sport-outline"></ion-icon>
                </ion-avatar>
              </div>
              <div class="pm-alignleft">
                <ion-label>
                  <h3><span class="pm-v-label">Type : </span><span class="pm-camelcase"><strong>{{vehicle.vehicleInfo.vehicleType}}</strong></span></h3>
                  <h3><span class="pm-v-label">Model : </span><strong>{{vehicle.vehicleInfo.vehicleBrand}} {{vehicle.vehicleInfo.vehicleModel}}</strong></h3>
                  <h3><span class="pm-v-label">Vehicle No :</span><strong>{{vehicle.vehicleInfo.vehicleNumber}}</strong></h3>
                  <h3><span class="pm-v-label">Color : </span><strong>{{vehicle.vehicleInfo.vehicleColor}}</strong></h3>
                  <!-- <p><span class="pm-v-label">Added By :</span> {{vehicle.vehicleInfo.addedBy}}</p> -->
                </ion-label>
              </div>
            </div>
          </div>
        </ion-col>

        <ion-col class="pm-ion-col" size="5.8">
          <div class="pm-col-seg pm-lm-15">
            <h2 class="pm-title-name">{{'contactListWithVehicle.accountInfo' | translate}}</h2>
            <div class="pm-alignleft">
              <ion-label>
                <h3><span class="pm-v-label">{{'rentPlanEntry.rentPlanName' | translate}} :</span><strong>{{vehicle.rentPlanInfo.rentPlan}}</strong></h3>
                <h3><span class="pm-v-label">Rent Cost :</span><strong> {{vehicle.rentPlanInfo.rentAmount}} {{'rs' | translate}}</strong></h3>
                <h3><span class="pm-v-label">{{'contactListWithVehicle.accountOpenDate' | translate}} :</span><strong>{{vehicle.accountInfo.openDate | date:'dd/MM/yyyy hh:mm a'}}</strong></h3>
              </ion-label>
            </div>
          </div>
        </ion-col>

        <!-- <ion-col class="pm-ion-col" size="0.8">
          <button pButton pRipple type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text" label="" (click)="menu.toggle($event);menuClick(vehicle);$event.stopPropagation();"></button>
          <p-menu #menu [popup]="true" appendTo="body" [model]="items"></p-menu>
        </ion-col> -->
      </ion-row>

      <ion-row class="pm-ion-row">
        <ion-col class="pm-ion-col " size="5.8">
          <div class="pm-col-seg pm-rm-15">
            <h2 class="pm-title-name">{{'contactListWithVehicle.outstandingInfo' | translate}}</h2>
            <div class="pm-alignleft">
              <ion-label>
                <h3><span class="pm-v-label">{{'contactListWithVehicle.totalAmount' | translate}} : </span><strong> {{vehicle.accountInfo.totalBillAmount}} {{'rs' | translate}}</strong></h3>
                <h3><span class="pm-v-label">{{'contactListWithVehicle.paidAmount' | translate}} : </span><strong> {{vehicle.accountInfo.receivedAmount}} {{'rs' | translate}}</strong></h3>
                <h3><span class="pm-v-label">{{'contactListWithVehicle.pendingAmount' | translate}} : </span><strong> {{vehicle.accountInfo.totalBillAmount - vehicle.accountInfo.receivedAmount}} {{'rs' | translate}}</strong></h3>
              </ion-label>
            </div>
          </div>
        </ion-col>
        <ion-col class="pm-ion-col " size="5.8">
          <div class="pm-col-seg pm-lm-15">
            <h2 class="pm-title-name">{{'contactListWithVehicle.alternateVehicleInfo' | translate}}</h2>
            <div *ngIf="vehicle.alternateVehicleInfo['vehicleType']">
              <div class="pm-alignleft">
                <ion-avatar>
                  <ion-icon name="car-sport-outline"></ion-icon>
                </ion-avatar>
              </div>
              <div class="pm-alignleft">
                <ion-label>
                  <h3><span class="pm-v-label">Type : </span><span class="pm-camelcase"><strong>{{vehicle.alternateVehicleInfo.vehicleType}}</strong></span></h3>
                  <h3><span class="pm-v-label">Model : </span><strong>{{vehicle.alternateVehicleInfo.vehicleBrand}} {{vehicle.alternateVehicleInfo.vehicleModel}}</strong> </h3>
                  <h3><span class="pm-v-label">Vehicle No :</span><strong>{{vehicle.alternateVehicleInfo.vehicleNumber}}</strong></h3>
                  <h3><span class="pm-v-label">Color : </span><strong>{{vehicle.alternateVehicleInfo.vehicleColor}}</strong></h3>
                  <!-- <p><span class="pm-v-label">Added By :</span> {{vehicle.alternateVehicleInfo.addedBy}}</p> -->
                </ion-label>
              </div>
            </div>

            <div *ngIf="!vehicle.alternateVehicleInfo['vehicleType']" class="pm-alt-norec">
              <ion-label>
                <h3>Alternate vehicle not available</h3>
              </ion-label>
            </div>

          </div>
        </ion-col>
      </ion-row>


      <ion-row class="pm-ion-row-2">
          <ion-col class="pm-ion-col" size="5.73" >
            <div class="pm-col-seg pm-rm-15">
              <h2>{{'contactListWithVehicle.additionalContactInfo' | translate}}</h2>
              <div class="pm-divider" *ngFor="let contact of vehicle.additionalContacts">
                <ion-label>
                  <h3 *ngIf="appLanguage && appLanguage == 'en'"><span class="pm-v-label">Name: </span><strong>{{contact.contactName}}</strong></h3>
                  <h3 *ngIf="appLanguage && appLanguage == 'ta'"><span class="pm-v-label">பெயர்: </span><strong>{{contact.contactNameInTamil}}</strong></h3>
                  <h3><span class="pm-v-label">Mobile: </span><strong>{{contact.contactMobile}}</strong></h3>
                </ion-label>
              </div>
            </div>
          </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>