<div class="pm-te">
  <span class="pm-close-action" style="">
    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="closePopover()"></button>
  </span>
  <h1 class="pm-monthName" style="text-align: center;">{{monthName}}</h1>

  <div class="pm-dateselect" style="text-align: center;">
    <input type="datetime-local" id="myLocalDate" [(ngModel)]="billdate" style="background-color:lightgray;align-self: center;width: 60%;">
  </div>
  <form *ngIf="billdetail">

    <ion-item lines="none">
      <h5> {{'transactionEntry.totalPendingAmount' | translate}} : {{totalPendingAmount}} {{'rs' | translate}}</h5>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating"> {{'transactionEntry.amount' | translate}}</ion-label>
      <ion-input type="number" required [value]="amount" (input)='onInputAmount($event)'></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">{{'transactionEntry.discount' | translate}}</ion-label>
      <ion-input type="number" [value]="discount" (input)='onInputDiscount($event)'></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">{{'transactionEntry.totalPayable' | translate}}</ion-label>
      <ion-input type="number" readonly [value]="totalPayable"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating"> {{'transactionHistory.receivedFrom' | translate}}</ion-label>
      <ion-input type="text" [value]="receivedFrom" (input)='onInputReceivedFrom($event)'></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>{{'transactionEntry.amountMode' | translate}}</ion-label>
      <p-radioButton name="cash" value="cash" [(ngModel)]="paymentMode" inputId="cash"></p-radioButton><label style="padding-left: 5px;padding-right: 10px;">Cash </label>
      <p-radioButton name="upi" value="upi" [(ngModel)]="paymentMode" inputId="upi"></p-radioButton><label style="padding-left: 5px;padding-right: 10px;">UPI </label>
      <p-radioButton name="card" value="card" [(ngModel)]="paymentMode" inputId="card"></p-radioButton><label style="padding-left: 5px;padding-right: 10px;">Card </label>
    </ion-item>


    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="save()">{{'save' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
<p-toast key="transactionEntry" position="center"></p-toast>