.pm-rpe-popup {
  height: 350px;
  --background: #fff;
  form {
    ion-item {
      color: #313131;
      --background: #ffffff;
      background: #fff;
      border-bottom: 1px solid #c7c7c7;
    }
  }
}
