<ion-header class="pm-header" no-border="">
  <ion-toolbar class="pm-toolbar">
    <ion-buttons class="pm-clickaction" slot="start">
      <ion-button (click)="backButtonOnclick()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="large" class="ion-text-center pm-header-title">
      {{'vehicleSearch.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pm-content">

  <!-- <ion-toolbar style="position:fixed;" >
    <ion-item class="center"  ion-fixed>
      <ion-input pInputText [(ngModel)]="queryText" type="text" placeholder="Search vehicle number"></ion-input>
      <ion-button mode="ios" class="my-button" item-right icon-only (click)="searchByKeyword()">
        <i style="color: black;font-size: 23px;" class="pi pi-search"></i>
      </ion-button>
    </ion-item>
  </ion-toolbar> -->

  <div class="pm-vn-header-search">
    <ion-item class="pm-vn-h-ion-item" lines="none" ion-fixed>
      <input pInputText [(ngModel)]="queryText" type="text" placeholder="{{'vehicleSearch.searchPlaceholder' | translate}}" (keyup.enter)="searchByKeyword()">
      <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success" (click)="searchByKeyword()"></button>
      <div class="pm-paidindicater">
        <span class="pm-unPaid">UnPaid</span> 
        <span class="pm-Partial">Partial</span> 
        <span class="pm-Paid" >Paid</span> 
      </div>
    </ion-item>
    <ion-button slot="end" (click)="billGeneration()">Bill Generate</ion-button>
  </div>

  <div *ngIf='vehicleList.length>0'>
    <p-table [columns]="cols" [value]="vehicleList" [alwaysShowPaginator]="true" [scrollable]="true" [paginator]="true" paginatorPosition="top" sortMode="multiple" [rows]="5" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15]" styleClass="p-datatable-lg">

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width:200px">
          <col style="width:150px">
          <col style="width:150px">
          <col style="width:150px">
          <col style="width:150px">
          <col style="width:150px">
          <col style="width:150px">
          <col style="width:150px">
          <col style="width:150px">
          <col style="width:150px">
          <col style="width:150px">

        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            <div class="p-d-flex p-jc-between p-ai-center">
              {{col.header | translate}}
              <p-columnFilter *ngIf="col.header == 'Vehicle Info'" type="text" field="vehicleInfo.vehicleNumber" display="menu"></p-columnFilter>
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-vehicle let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <div *ngIf="col.field == 'vehicleInfo' && vehicle['vehicleInfo'] " (click)="vehicleCellClick(vehicle)">
              <label>{{vehicle.vehicleInfo.vehicleBrand}} {{vehicle.vehicleInfo.vehicleModel}} </label>
              <br />
              <label>{{vehicle.vehicleInfo.vehicleNumber}}</label>
              <br />

              <label *ngIf="appLanguage && appLanguage == 'en' && vehicle['primaryContact']"><b>{{vehicle.primaryContact.contactName}}</b></label>
              <label *ngIf="appLanguage && appLanguage == 'ta' && vehicle['primaryContact']"><b>{{vehicle.primaryContact.contactNameInTamil}}</b></label>

            </div>
            <div *ngIf="col.field != 'vehicleInfo' && vehicle[col.field]" (click)="amountCellClick($event,vehicle[col.field])">
              <label>T - {{vehicle[col.field].totalAmount}} {{'rs' | translate}}</label>
              <br />
              <label>R - {{vehicle[col.field].receivedAmount}} {{'rs' | translate}}</label>
              <br />
              <label>P - {{vehicle[col.field].pendingAmount}} {{'rs' | translate}}</label>
              <br />
              <!-- <label style="background-color: brown;">hi</label> -->

              <p *ngIf="vehicle[col.field].pendingAmount == 0" style="width: 100%; height: 10px; background-color: green; border-radius: 15px;"></p>
              <p *ngIf="vehicle[col.field].receivedAmount > 0 && vehicle[col.field].pendingAmount > 0" style="width: 100%; height: 10px; background-color: yellow; border-radius: 15px;"></p>
              <p *ngIf="vehicle[col.field].receivedAmount == 0" style="width: 100%; height: 10px; background-color: red; border-radius: 15px;"></p>

            </div>
            <div *ngIf="!vehicle[col.field]" style="text-align: left;">
              <label>----</label>
            </div>
          </td>
        </tr>
      </ng-template>

      <!--
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="car.vehicleInfo.vehicleNumber"> 
          <div class="p-d-flex p-jc-between p-ai-center">
            Vehicle Info 
            <p-columnFilter type="text" fields="car.vehicleInfo.vehicleNumber" display="menu"></p-columnFilter>
        </div>

         </th>
        <th pSortableColumn="year">
          <div class="p-d-flex p-jc-between p-ai-center">
            Year 
            <p-columnFilter type="text" field="year" display="menu"></p-columnFilter>
        </div>
        </th>
        <th pSortableColumn="brand">
          <div class="p-d-flex p-jc-between p-ai-center">
            Brand 
            <p-columnFilter type="text" field="brand" display="menu"></p-columnFilter>
        </div>
        </th>
        <th pSortableColumn="color">
          <div class="p-d-flex p-jc-between p-ai-center">
            Color 
            <p-columnFilter type="text" field="color" display="menu"></p-columnFilter>
            </div>
        </th> 
      </tr>
    </ng-template>-->
      <!-- <ng-template pTemplate="body" let-car>
      <tr>
        <td>
          <label>{{car.vehicleInfo.vehicleNumber}}</label>
          <br />
          <label>{{car.vehicleInfo.vehicleNumber}}</label>
          <br />
          <label>{{car.primaryContact.contactName}}</label>
        </td>
        <td>{{car.May21.receivedAmount}}</td>
        <td>{{car.Apr21.receivedAmount}}</td>
        <td>{{car.Mar21.receivedAmount}}</td>
      </tr>
    </ng-template> -->
    </p-table>
  </div>
  <p-toast position="center"></p-toast>


</ion-content>