.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  min-width: 300px;
}

.popover-content {
  opacity: inherit;
}
.my-button {
  --background: #white;
  --background-activated: #white;
}
.pm-vn-h-ion-item {
  .pm-paidindicater {
    color: #5d646d;
    .pm-unPaid {
      margin-left: 10px;
      padding-left: 10px;
      padding-right: 20px;
      position: relative;
      &:before {
        content: "";
        height: 10px;
        width: 10px;
        background-color: red;
        border-radius: 50px;
        position: absolute;
        left: -4px;
        top: 3px;
      }
    }
    .pm-Partial {
      padding-left: 10px;
      padding-right: 20px;
      position: relative;
      &:before {
        content: "";
        height: 10px;
        width: 10px;
        background-color: yellow;
        border-radius: 50px;
        position: absolute;
        left: -4px;
        top: 3px;
      }
    }
    .pm-Paid {
      padding-left: 10px;
      padding-right: 20px;
      position: relative;
      &:before {
        content: "";
        height: 10px;
        width: 10px;
        background-color: green;
        border-radius: 50px;
        position: absolute;
        left: -4px;
        top: 3px;
      }
    }
  }
}
// .pm-header {
//   .pm-toolbar {
//     --background: #fff;
//     .pm-header-title {
//       color: #212e3f;
//       font-weight: 500;
//     }
//     .pm-clickaction {
//       ion-button {
//         ion-icon {
//           color: #212e3f;
//           font-size: 30px;
//           padding-left: 5px;
//         }
//         &:hover {
//           ion-icon {
//             color: #2196f3;
//           }
//         }
//       }
//     }
//   }
//   &:after {
//     background-image: none;
//   }
//   border-bottom: 2px solid #ececec;
//   ion-toolbar:last-of-type {
//     --border-width: 0px;
//   }
// }

.pm-content {
  .pm-vn-header-search {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px 0px 0px;
    align-items: center;
    background: #fff;
    height: 60px;
    --background: #fff;
    .pm-vn-h-ion-item {
      width: unset;
      min-width: unset;
      --background: #fff;
      input {
        width: 200px;
        margin-left: 3px;
      }
      button {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    ion-button {
    }
    border-bottom: 2px solid #ececec;
  }
  .p-datatable-scrollable-body {
    height: calc(100vh - 240px);
    background: #fff;
  }
}
