<ion-header class="pm-header" no-border="">
  <ion-toolbar class="pm-toolbar">
    <ion-title size="large" class="ion-text-center pm-header-title">
      {{'settings.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pm-setting-page">
  <ion-segment (ionChange)="segmentChanged($event)" value="loggeduser">
    <ion-segment-button value="loggeduser">
      <ion-label> {{'settings.loggedUser' | translate}} </ion-label>
    </ion-segment-button>
    <ion-segment-button value="loginactivity" *ngIf="this.util.loggedUserInfo['code']==1">
      <ion-label> {{'settings.loginActivity' | translate}} </ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="pm-showLoggeduserDetail" *ngIf="showLoggeduserDetail">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{this.util.loggedUserInfo['userName']}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>{{'contactEntry.contactMobile' | translate}} - {{this.util.loggedUserInfo['mobile']}}</p>
        <p>{{'settings.inTime' | translate}} - {{this.util.loggedUserActivityInfo['inTime'] | date:'dd/MM/yyyy hh:mm a'}}</p>
        <p>  {{'applicationUserEntry.code' | translate}} : {{this.util.loggedUserInfo['code']}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list class="pm-noshowLoggeduserDetail" lines="none" style="width: 100%;" *ngIf="!showLoggeduserDetail">
    <div style="text-align: center;">
      <p-dropdown appendTo="body" [options]="users" [(ngModel)]="selectedUser" optionLabel="userName" [filter]="true"
        optionDisabled="inactive" placeholder="{{'settings.selectUser' | translate}}" (onChange)="onChange()"></p-dropdown>
    </div>
    <ion-item *ngFor="let user of loginActivity">
      <ion-label>
        <h3>{{user.applicationUser['userName']}}</h3>
        <h2>{{'settings.inTime' | translate}} : {{user.inTime | date:'dd/MM/yyyy hh:mm a'}}</h2>
        <h2 *ngIf="user.outTime"> {{'settings.outTime' | translate}} : {{user.outTime | date:'dd/MM/yyyy hh:mm a'}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <p-toast key="setting" position="center"></p-toast>

</ion-content>