<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <div >
      <button mat-icon-button="" title="Back" (click)="backButtonOnclick()">
        <ion-icon style="font-size: 30px;padding: 10px;" name="people"></ion-icon>

      </button>
    </div>
    <ion-title size="large" class="ion-text-center">
      Vehicle Search
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header >
  <ion-toolbar >
      <ion-title size="large" class="ion-text-center">
        Settings
      </ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content style="height: 50%;">
  <ion-segment (ionChange)="segmentChanged($event)" value="loggeduser">
    <ion-segment-button value="loggeduser">
      <ion-label>Logged user info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="loginactivity">
      <ion-label>Login activity</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="showLoggeduserDetail">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Security 1</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p>Mobile - 9834637262</p>
        <p>In time - 2021-01-26 10:51:50 AM</p>
        <p>Security Code : 1</p>
      </ion-card-content>
    </ion-card>
    </div>

    <ion-list style="width: 100%;" *ngIf="!showLoggeduserDetail">
      <ion-item *ngFor="let user of loginActivity" >
        <!-- <ion-avatar slot="start">
          <ion-icon name="user-outline" style="font-size: 50px;"></ion-icon>
        </ion-avatar> -->
        <ion-label>
          <h3>{{user.securityName}}</h3>
        <h2>{{user.inTime}}</h2>
        <h2>{{user.outTime}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  <!-- <ion-row>
  <p-orderList  [value]="contactList">
    <ng-template let-contact pTemplate="item">
        <div>
            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{contact.contactName}} - {{contact.contactMobile}} - {{contact.securityName}}</div>
        </div>
    </ng-template>
</p-orderList>
  </ion-row> -->

  <!-- <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block">Save</ion-button>
    </ion-col>
  </ion-row> -->


</ion-content>